@charset "UTF-8";
/* CSS Document */

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
}

header {
	height: 0;
}

section {
	height: 100%;
	width: 100%;	
	}

article {
	height: 100%;
	width: 100%;	
}

#fsn {
	margin: 0 auto;
	text-align: center;
	height: 100%;	
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}

.fsn-body {
	position: relative;
	height: 100%;	
	min-height: 100%;		
	width: 100%;
	min-width: 100%;
}

.fsn-body, section.fsn-section, .fsn-page-scroll, .jspContainer, .jspPane, .fsn-page-body, #container {
	height: 100%;
	min-height: 100%;	
	width: 100%;
	min-width: 100%;
}


.fsn-body, .fsn-section-wrap, .jspContainer, .jspPane, .fsn-page-body {
	height: 100%;
	width: 100%;
	overflow: visible;	
}

.jspVerticalBar {
	display: none;	
}

h1 {
    color: #fff;
    font-size: 85px;
    line-height: 88px;
    margin: 0;
    padding: 0 0 15px;
    font-family: 'Chronicle Display A', 'Chronicle Display B';
    font-weight: 200;
    font-style: normal;
    text-align: center;
    text-rendering: optimizeLegibility;
}
h2 {
    color: #fc4f53;
    font-size: 14px;
    letter-spacing: 7px;
    margin: 0;
    padding: 20px;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
h3 {
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
h4 {
    color: #000;
    font-size: 16px;
	letter-spacing: 2px;
    margin: 0;
    padding: 0 0 15px;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.mainbody {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.artwork {
	position: absolute;
	margin-top: -50%;
	top: 50%;
	width:100%;
	height: 100%;
}

.mainbody div {
	display: table-cell;
 	vertical-align: middle	
}

#masthead {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1000;
}

#masthead img {
    width: 250px;
}

#sitenav {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1000;
}

#sitenav {
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    text-align: right;
}

a.navitem:link, a.navitem:visited {
    padding: 0 10px 0 0;
    text-decoration: none;
    color: #fff;
}
a.navitem:hover {
    padding: 0 10px 0 0;
    text-decoration: line-through;
    color: #fff;
}
a.navitem:last-child {
    padding: 0 0 0 10px;
}

#intro {
	width: 100%;
	height: 100%;
	outline: 10px solid #FFFFFF;
	outline-offset: -10pxpx;
	background: #f4dabd; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjRkYWJkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JiYzBiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

background: -moz-linear-gradient(-45deg,  #f4dabd 0%, #bbc0be 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f4dabd), color-stop(100%,#bbc0be)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(-45deg,  #f4dabd 0%,#bbc0be 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(-45deg,  #f4dabd 0%,#bbc0be 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(-45deg,  #f4dabd 0%,#bbc0be 100%); /* IE10+ */

background: linear-gradient(135deg,  #f4dabd 0%,#bbc0be 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4dabd', endColorstr='#bbc0be',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.msg {
    width: 900px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -450px;
}
.keyboard {
    width: 300px;
    height: 100px;
    position: fixed;
    background-image: url(../images/keyboard.svg);
    background-repeat: no-repeat;
    bottom: 50px;
    left: 50%;
    margin-left: -150px;
}

#p101 img {
	vertical-align: middle;	
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	.artwork {
		position: absolute;
		margin-top: -350px;
		top: 50%;
		width:100%;
		height: 100%;
}
	}
    .artwork img {
    }


   

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

    .artwork img {
        height: 700px;
        /* rest of your styles... */
    }

}